<div id="post-{{id}}" class="photocard">
  <img class="photo" src="{{thumbnail}}" alt="Missing Image">
  <div class="card-body">
    <p class="title">{{title}}</p>
    <p class="description">{{description}}</p>
    <p class="post-link"><a href="/post/{{id}}" class="anchor-buttons">Post Details</a></p>
  </div> 
</div>